.advantages {
  min-height: 470px;
  padding-top: 70px;
  background-color: #f6f6f6;
  &__header {
    margin-top: 70px;
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__icons {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    width: 950px;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 243px;
    min-height: 235px;
    h2 {
      margin-top: 38px;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
    }
    span {
      line-height: normal;
      margin-top: 15px;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      a {
        color: #ff0000;
      }
    }
  }
}
